:root {
  --background-color: #0d1317;
  --primary-color: #90c2e7;
  --secondary-color: #ffffff;
  --text-color: #e0e0e0;
  --shadow-color: rgba(0, 0, 0, 0.2);
}

.root {
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

.image-generator {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  padding: 1rem;
  padding-top: 0.3rem;
  width: 300px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.1);
  transform: translateY(20px);
}

.image-generator__title {
  margin-top: 0;
  user-select: none;
  color: var(--secondary-color);
  text-align: center;
  margin-bottom: 1rem;
  font-size: 5.7rem;
  text-shadow: 2px 2px 4px var(--shadow-color);
}

.image-generator__title-span {
  color: var(--primary-color);
  display: block;
  font-size: 1.2rem;
  font-size: 2.9rem;
  margin-top: -1.2rem;
}

.image-generator__ratio-inputs,
.image-generator__dimension-inputs,
.image-generator__output-size {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.image-generator__input-group {
  gap: 0.2rem;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.image-generator__label {
  display: block;
  color: var(--secondary-color);
  font-size: 0.8rem;
  letter-spacing: 0.5px;
}

.image-generator__input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--secondary-color);
  transition: all 250ms ease;
}

.image-generator__input:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--primary-color);
}

.image-generator__generate-button {
  display: block;
  width: 100%;
  padding: 0.7rem;
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 250ms ease;
  margin-top: 1.5rem;
  user-select: none;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.image-generator__generate-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  pointer-events: none;
}

.image-generator__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.image-generator__generate-button:hover {
  background-color: #3ab7dc;
}

.image-generator__generate-button:active {
  box-shadow: 0 2px 4px var(--shadow-color);
}

.image-generator__spinner {
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  border: 2px solid currentColor;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: spin 500ms linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
