:root {
  /* Colors */
  --color-primary: #895cf3;
  --color-primary-dark: #170444;
  --color-background: #ffffff;
  --color-text-primary: #170444;
  --color-border-default: #bbc0c5;
  --color-border-error: #ff4d4f;

  /* Border radius */
  --radius-default: 5px;
  
  /* Shadows */
  --shadow-default: 0 30px 45px  rgba(18, 8, 39, 0.2);
  
  /* Transitions */
  --transition-default: all 0.3s ease;
  
  /* Spacings */
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
  
  /* Fonts */
  --font-family-primary: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-primary);
}

body {
  color: var(--color-text-primary);
  background-color: var(--color-primary);
}